html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

a {
	text-decoration: none;
	color: #000;
	display: block;
}

.main {
	margin-top: 30px;
}

@font-face {
	font-family: myFirstFont;
	src: url(Bodoni.ttc);
}

@font-face {
	font-family: mySecondFont;
	src: url(Geometria-Light.otf);
}

/* NAV BAR */

nav {
	overflow: hidden;
	background-color: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9;
	box-shadow: 0px 3px 7px rgba(0, 0, 0, .3);
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 200px;
	margin-right: 200px;
	padding: 50px;
	height: 25px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	float: left;
}

li a {
	text-align: center;
	text-decoration: none;
	color: #000000;
	display: block;
	padding: 19px;
	font-family: mySecondFont;
}

li a:hover {
	color: #d3d3d3;
}

nav h1 {
	font-family: mySecondFont;
	text-transform: uppercase;
	font-size: 15px;
}


/* SLIDERS */


 html, body{
 width: 100%;
 height: 100%;
 padding: 0;
 margin: 0px;
}

slider {
 display: block;
 width: 100%;
 height: 100%;
 background-color: #1f1f1f;
 overflow: hidden;
 position: absolute;
}

slider > * {
 position: absolute;
 display: block;
 width: 100%;
 height: 100%;
 background: #1f1f1f;
 animation: slide 12s infinite;
 overflow: hidden;
}

slide:nth-child(1){
 left: 0%;
 animation-delay: -1s;
 background-image: url(PAL-223.jpg);
 background-size: cover;
 background-position: center;
}

slide:nth-child(2){
	left: 100%;
 animation-delay: 2s;
 background-image: url(PAL-119.jpg);
 background-size: cover;
 background-position: center;
}

slide:nth-child(3){
	left: 100%;
 animation-delay: 5s;
 background-image: url(PE-57.jpg);
 background-size: cover;
 background-position: center;
}

slide:nth-child(4){
 left: 100%;
 animation-delay: 8s;
 background-image: url(DSC_7401.jpg);
 background-size: cover;
 background-position: center;
}

slide p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 70px;
	text-align: center;
	display: inline-block;
	width: 100%;
	margin-top: 340px;
	color: #fff;
	text-transform: uppercase;
}

@keyframes slide {
 0% { left: 100%; width: 100%; }
 5% { left: 0%; }
 25% { left: 0%; }
 30% { left: -100%; width: 100%; }
 30.0001% { left: -100%; width: 0%; }
 100% { left: 100%; width: 0%; }
}

/*PARALLAX*/

.parallax {
	background: url(https://static.wixstatic.com/media/cd6911_c4c713d6a77742c1a20954b032698c72~mv2.png/v1/fill/w_1125,h_828,al_c,q_85/cd6911_c4c713d6a77742c1a20954b032698c72~mv2.webp)
	repeat fixed 100%;
}

.parallax-inner {
	padding-top: 30%;
	padding-bottom: 30%;
}


/*seccion pipa*/

.wrapper > div {
	background: #fff;
	padding: 1em;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

.pipa-left {
	width: 600px;
	height: 680px;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 0px;
}

.pipa-left img {
	height: 100%;
	width: 100%;
}


.pipa-right {
	text-align: left;
	width: 450px;
	height: 600px;
}

.pipa-title h2 {
	font-size: 75px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-family: myFirstFont;
}

.pipa-content p {
	font-family: mySecondFont;
	margin-top: 30px;
}


/*PARALLAX 2*/

.parallax2 {
	background: url(PIPA-20.jpg) fixed 100%;
	padding-bottom: 8%;
	padding-top: 8%;
	background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

/* CATERING CARD */

.parallax2-inner {
	border: solid;
	border-color: #fff;
	background: #fff;
	width: 550px;
	height: 622px;
	margin: 20px auto 20px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.catering-title {
	margin: 74px 0 30px 0;
}

.catering-title h2 {
	text-transform: uppercase;
	font-size: 74px;
	margin-bottom: 0;
	font-family: myFirstFont;
}

.divider i {
	margin-top: 30px;
}

.catering-subtitle h5{
	font-size: 25px;
	margin: 0;
	font-family: myFirstFont;
}


.catering-options {
	margin-bottom: 39px;
}

.catering-options p {
	font-family: mySecondFont;
	font-weight: 400;
}

.ver-opciones button {
	border: solid 1px #000;
	background-color: #fff;
	padding: 10px;
	font-size: 12px;
	-webkit-transition-duration: 0.4s;
  	transition-duration: 0.4s;
}

.ver-opciones button:hover {
	background-color: #000;
}

.ver-opciones button:hover .btn2{
	color: #fff;
}

/*INSTAGRAM FEED*/

/*FORMULARIO*/


.contacto {
	margin: 152px 0px 27px 0px;
}
.contacto h2 {
	font-size: 75px;
	text-align: center;
	text-transform: uppercase;
	margin: auto;
	font-family: myFirstFont;
}

.info-contacto {
	margin: 0px 0px 19px 0px;
}

.info-contacto p {
	text-align: center;
	font-size: 16px;
	font-family: mySecondFont;
}


.consulta h5 {
	text-align: center;
	font-size: 20px;
	font-family: myFirstFont;

}

.formulario {
	width: 520px;
	margin: 0 auto;
}

input, textarea {
	width: 100%;
	border: 1px solid black;
	margin-top: 5px;
	padding: 4px 4px 4px 4px;
	outline: none;
}

input[type=submit] {
	background-color: black;
	color: white;
	text-decoration: none;
	cursor: pointer;
	width: 10%;
	padding: 3px 3px 3px 3px;
	margin-top: 5px;
	float: right;
}

input[name=mensaje] {
	resize: none;
	height: 150px;
} /*no se como hacer para que la parte de mensaje quede bien y siga escribiendo para abajo en vez de al costado */


/*MARCAS*/

.titulo-marcas {
	width: 544px;
	margin: 94px auto 57px;
}

.titulo-marcas h2 {
	font-size: 47px;
	text-align: center;
	line-height: 0.8em;
	font-family: myFirstFont;
}

.marcas2 {
	display: flex;
	justify-content: space-between;
	margin: 0 20px 0 20px;
	align-items: center;
}

.marca img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 120px;
  height: 50px;
}

/*FOOTER*/

.hashtag {
	width: 258px;
	margin: 38px auto 15px;
}

.hashtag p {
	font-size: 30px;
	text-align: center;
	font-family: mySecondFont;
	font-weight: 700;
}

.subir {
	margin: 60px auto 20px;
	display: block;
    text-align: center;
}

.gotopbtn {
	width: 50px;
	height: 50px;
	text-decoration: none;
	text-align: center;
	color: #000;
	font-size: 20px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/*HR*/

hr {
	background-color: #d3d3d3;
	height: 1px;
	border: 0px;
}

.slider2 {
	margin-top: 70px;
}